Repository enyosolutions/axel-core: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, cd axel-manager && npm run lint:fix, prettier --write

feat: manager errors
  .lintstagedrc.json
Due: prettier --write

v0.13.4
  package.json
Due: prettier --write

Update node.js.yml
  .github/workflows/node.js.yml
Due: none

Update .eslintignore
  .eslintignore
Due: none

feat: field config schema
  .lintstagedrc.json
  src/controllers/CrudSqlController.js
  src/models/schema/AxelModelFieldConfig.js
Due: prettier --write

v0.13.5
  package.json
Due: prettier --write

fix: upper first on models hooks
  src/models.js
Due: eslint --fix

fix: loading of hooks is case sensitive on linux
  src/models.js
Due: eslint --fix

v0.13.6
  package.json
Due: prettier --write

feat: filtering on items
  src/models/schema/AxelModelConfig.js
Due: none

fix: do not use raw
  .gitignore
  src/controllers/CrudSqlController.js
  src/services/SqlDB.js
  src/services/ws/utils.js
  src/services/ws/wsModel.js
Due: none

v0.13.7
  package.json
Due: prettier --write

feat: login pages for axel-manager fix: various auth issues
  axel-manager/src/assets/css/sb-admin-2.css
  axel-manager/src/components/layout/Body.vue
  axel-manager/src/components/layout/Header.vue
  axel-manager/src/components/layout/Sidebar.vue
  axel-manager/src/config.js
  axel-manager/src/pages/Login.vue
  axel-manager/src/pages/NotFound.vue
  axel-manager/src/pages/Register.vue
  axel-manager/src/router/index.js
  axel-manager/src/store/index.js
Due: none

v0.13.8
  package.json
Due: prettier --write

feat: avoid loop when executiing hooks
  axel-manager/src/store/index.js
  src/controllers/CrudSqlController.js
  src/models.js
  src/services/ControllerUtils.js
  src/services/SchemaValidator.js
Due: eslint --fix

v0.13.9
  package.json
Due: prettier --write

v0.13.10
  package.json
Due: prettier --write

fix: example should be an array
  src/models/schema/AxelModelFieldConfig.js
  yarn.lock
Due: none

fix: proper route to fetch details
  src/controllers/AxelAdminController.js
  src/services/AxelAdmin.js
  src/services/SchemaValidator.js
Due: none

fix: allow loading hooks that do not respect casing
  package.json
  src/controllers/AxelAdminController.js
  src/controllers/AxelModelConfigController.js
  src/controllers/CrudSqlController.js
  src/models.js
  src/router.js
Due: eslint --fix, prettier --write

v0.13.13
  package.json
Due: prettier --write

v0.13.14
  package.json
Due: prettier --write

fix: version updgrade
  package.json
  src/models/schema/AxelModelConfig.js
  src/services/ControllerUtils.js
Due: prettier --write

v0.13.15
  package.json
Due: prettier --write

chore: more logs on errors
  src/middlewares/error-handler.js
Due: none

fix: axel multi lang support
  src/controllers/CrudSqlController.js
  src/services/AxelAdmin.js
Due: none

v0.15.0
  package.json
Due: prettier --write

fix: axelModelConfig
  src/controllers/AxelModelConfigController.js
  src/services/Utils.js
Due: none

v0.15.1
  package.json
Due: prettier --write

feat: better delete behavior
  src/controllers/CrudSqlController.js
  src/middlewares/error-handler.js
  src/models.js
  src/models/schema/AxelModelFieldConfig.js
  src/services/ErrorUtils.js
Due: eslint --fix

v0.15.2
  package.json
Due: prettier --write

feat: support for connecitons urls
  src/services/SqlDB.js
  yarn.lock
Due: none

v0.16.0
  package.json
Due: prettier --write

fix: better error handler
  src/Server.js
  src/services/SqlDB.js
Due: eslint --fix

v0.16.1
  package.json
Due: prettier --write

doc: new fields
  src/models/schema/AxelModelConfig.js
Due: none

fix: pagination issues
  src/services/DocumentManager.js
  src/services/Utils.js
Due: none

Path conditions:
  eslint --fix: any of: src/*.js
  cd axel-manager && npm run lint:fix: any of: {axel-manager}/*
  prettier --write: any of: *.{json,md}
