Repository enyosolutions/axel-core: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, cd axel-manager && npm run lint:fix, prettier --write

fix: linting
  .eslintrc.js
  src/controllers/CrudSqlController.js
  src/controllers/UserSqlController.js
  src/router.js
  src/services/ws/wsModel.js
Due: eslint --fix

v0.23.4
  package.json
Due: prettier --write

feat: load hooks from plugins
  src/axel.js
  src/models.js
Due: eslint --fix

v0.24.0
  package.json
Due: prettier --write

feat: add model name in hooks
  src/services/ControllerUtils.js
Due: none

v0.24.1
  package.json
Due: prettier --write

fix: correctly inject hooks
  src/services/AxelManager.js
  src/services/AxelModelsService.js
  src/services/ControllerUtils.js
  src/services/Utils.js
Due: none

v0.24.2
  package.json
Due: prettier --write

fix: issue with tags
  src/services/ControllerUtils.js
Due: none

v0.24.3
  package.json
Due: prettier --write

feat: await for after hook when calling findOne
  src/controllers/CrudSqlController.js
Due: none

v0.25.0
  package.json
Due: prettier --write

fix: pb in models translation system
  src/index.js
  src/services/AxelModelsService.js
  test/sandbox/index.js
Due: eslint --fix

v0.25.1
  package.json
Due: prettier --write

fix: serve models translation issues
  package.json
  src/controllers/AxelAdminController.js
  src/router.js
  src/services/AxelModelsService.js
Due: eslint --fix, prettier --write

v0.25.3
  package.json
Due: prettier --write

fix: issues with systems that do not supports sql
  src/services/AxelManager.js
  src/services/AxelModelsService.js
  src/services/AxelPlugin.js
Due: none

v0.25.4
  package.json
Due: prettier --write

v0.25.5
  package.json
Due: prettier --write

fix: api error formatiing
  src/models.js
  src/services/ErrorUtils.js
Due: eslint --fix

v0.26.0
  package.json
Due: prettier --write

v0.27.0
  package.json
Due: prettier --write

v0.28.0
  package.json
Due: prettier --write

fix: issues when some args are not provided
  src/axel.js
  src/controllers/CrudSqlController.js
  src/services/SchemaValidator.js
  yarn.lock
Due: eslint --fix

v0.29.0
  package.json
Due: prettier --write

fix: logs
  src/services/SchemaValidator.js
Due: none

v0.29.1
  package.json
Due: prettier --write

fix: do not continue if the header where already sent
  src/controllers/CrudSqlController.js
  src/models/schema/AxelModelFieldConfig.js
  src/services/Utils.js
Due: none

v0.29.2
  package.json
Due: prettier --write

fix: send correctly the infos for the after api bfind hook
  src/controllers/AxelAdminController.js
  src/models/schema/AxelModelConfig.js
  src/services/DocumentManager.js
  src/services/ExcelService.js
Due: none

v0.29.3
  package.json
Due: prettier --write

Add Codacy badge
  README.md
Due: prettier --write

fix: codacy feedback
  package.json
  src/services/ControllerUtils.js
Due: prettier --write

fix: disable logger errors
  package.json
  src/router.js
  src/services/logger.js
  yarn.lock
Due: eslint --fix, prettier --write

v0.30.0
  package.json
Due: prettier --write

v0.30.1
  package.json
Due: prettier --write

chore: version bump
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: src/*.js
  cd axel-manager && npm run lint:fix: any of: {axel-manager}/*
  prettier --write: any of: *.{json,md}
