Repository enyosolutions/axel-core: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, cd admin-panel && npm run lint:fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*gs.js": "eslint --fix",
  "admin-panel/**": "cd admin-panel && npm run lint:fix",
  "*.{json,md}": "prettier --write"
}

feat: remove useless routes
  admin-panel/dist/index.html
  package.json
  src/controllers/AuthController.js
  src/services/ExtendedError.js
  src/services/SchemaValidator.js
  test/api/axel.test.js
  yarn.lock
Due: cd admin-panel && npm run lint:fix, prettier --write

fix: issue with firstr login
  admin-panel/dist/index.html
  admin-panel/src/models/actions/index.js
  admin-panel/src/pages/Login.vue
  admin-panel/src/pages/Register.vue
  admin-panel/src/router/index.js
  src/controllers/AuthController.js
  src/services/AxelAdminPanelManager.js
  src/services/MailService.js
Due: cd admin-panel && npm run lint:fix

fix: issue with firstr login
  src/services/AxelAdminPanelManager.js
Due: none

v0.32.14
  package.json
Due: prettier --write

chore: linting issues
  .eslintrc.js
  admin-panel/dist/index.html
  src/router.js
  src/services/AxelAdminPanelManager.js
Due: cd admin-panel && npm run lint:fix

v0.32.15
  package.json
Due: prettier --write

fix: this lost in translation
  admin-panel/dist/index.html
  src/router.js
Due: cd admin-panel && npm run lint:fix

v0.32.16
  package.json
Due: prettier --write

fix: issue with search pagination
  .eslintrc.js
  admin-panel/dist/index.html
  package.json
  src/controllers/AuthController.js
  src/controllers/UserSqlController.js
  src/router.js
  src/services/AxelAdminPanelManager.js
  src/services/MailService.js
  src/services/SchemaValidator.js
  src/services/Utils.js
  yarn.lock
Due: cd admin-panel && npm run lint:fix, prettier --write

v0.32.17
  package.json
Due: prettier --write

v0.32.18
  package.json
Due: prettier --write

v0.32.19
  package.json
Due: prettier --write

v0.32.20
  package.json
Due: prettier --write

fix: template location issues
  admin-panel/dist/index.html
  admin-panel/src/components/layout/Sidebar.vue
  admin-panel/src/pages/ApiList.vue
  admin-panel/src/store/index.js
  package.json
  src/models/schema/AxelModelConfig.js
  src/models/schema/AxelModelFieldConfig.js
  src/services/AxelAdminPanelManager.js
  src/services/ws/wsController.js
  types/main.d.ts
  yarn.lock
Due: cd admin-panel && npm run lint:fix, prettier --write

v0.32.21
  package.json
Due: prettier --write

fix: bug in schema template
  admin-panel/dist/index.html
Due: cd admin-panel && npm run lint:fix

v0.32.22
  package.json
Due: prettier --write

fix: do not includes some models in the front
  admin-panel/dist/index.html
  src/controllers/CrudSqlController.js
  src/models/schema/AxelModelConfig.js
  src/models/schema/AxelUser.js
  src/router.js
  src/services/AxelModelsService.js
  src/services/SchemaValidator.js
  src/services/Utils.js
Due: cd admin-panel && npm run lint:fix

v0.32.23
  package.json
Due: prettier --write

feat: putting more comments in the code
  admin-panel/dist/index.html
  admin-panel/src/pages/Register.vue
  src/controllers/AxelModelConfigController.js
  src/controllers/CrudSqlController.js
  src/controllers/UserSqlController.js
  src/index.d.ts
  src/models.js
  src/router.js
  src/services/AxelAdminPanelManager.js
Due: cd admin-panel && npm run lint:fix

v0.32.24
  package.json
Due: prettier --write

fix: admon config issues
  admin-panel/dist/index.html
  src/router.js
Due: cd admin-panel && npm run lint:fix

fix: validator issues with edit fields
  src/axel.js
  src/index.js
  src/services/MongodbUtils.js
  src/services/SchemaValidator.js
  src/services/Utils.js
  types/main.d.ts
Due: none

v0.32.25
  package.json
Due: prettier --write

feat: filter by json fields
  admin-panel/dist/index.html
  src/controllers/CrudMongoController.js
  src/models/schema/AxelModelFieldConfig.js
  src/services/Utils.js
Due: cd admin-panel && npm run lint:fix

fix: config definition update
  admin-panel/dist/index.html
  package.json
  src/models/schema/AxelModelConfig.js
  src/models/schema/AxelModelFieldConfig.js
Due: cd admin-panel && npm run lint:fix, prettier --write

feat: added devcontainer
  .devcontainer/devcontainer.json
Due: prettier --write

feat: added TSconfig
  package.json
  tsconfig.json
Due: prettier --write

fix: Obj to Object in jsdoc
  src/services/AxelModelsService.js
  src/services/ExcelService.js
  src/services/SwaggerService.js
Due: none

fix: import of axel type
  src/axel.js
Due: none

fix: global declaration
  types/main.d.ts
Due: none

chore: remove unused import
  src/services/RolesService.js
Due: none

fix: updated jsdoc imports
  src/controllers/AxelModelConfigController.js
  src/controllers/AxelModelFieldConfigController.js
  src/controllers/CrudMongoController.js
  src/controllers/CrudSqlController.js
  src/services/AxelAdminPanelManager.js
  src/services/AxelModelsService.js
  src/services/AxelPlugin.js
  src/services/Utils.js
Due: none

fix: tsconfig node resolution strategy
  tsconfig.json
Due: prettier --write

chore: updated more TS errors
  src/controllers/UserSqlController.js
  src/index.d.ts
  types/main.d.ts
Due: none

chore: update TS imports, params
  src/controllers/AxelModelConfigController.js
  src/router.js
  src/services/MongodbUtils.js
  src/services/SchemaValidator.js
  src/services/SqlDB.js
  src/services/SwaggerService.js
  tsconfig.json
  types/main.d.ts
Due: prettier --write

chore: typescript support and indexes
  .eslintrc.js
  package.json
  src/axel.js
  src/controllers/AuthController.js
  src/controllers/AxelModelConfigController.js
  src/controllers/AxelModelFieldConfigController.js
  src/controllers/CrudSqlController.js
  src/index.js
  src/models.js
  src/models/schema/AxelModelConfig.js
  src/models/schema/AxelModelFieldConfig.js
  src/models/sequelize/AxelModelConfig.js
  src/services/ErrorUtils.js
  src/services/MailService.js
  src/services/Utils.js
  src/services/ws/utils.js
  tsconfig.json
  types/index.d.ts
  types/main.d.ts
  yarn.lock
Due: prettier --write

v0.33.0
  package.json
Due: prettier --write

fix: useless api warnings
  admin-panel/dist/index.html
  src/services/Utils.js
  types/main.d.ts
Due: cd admin-panel && npm run lint:fix

v0.35.0
  package.json
Due: prettier --write
