Repository enyosolutions/axel-core: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, cd admin-panel && npm run lint:fix, prettier --write

v0.35.1
  package.json
Due: prettier --write

chore: remove logs
  admin-panel/dist/index.html
  src/models.js
  src/models/schema/AxelModelConfig.js
  src/services/SqlDB.js
  src/services/Utils.js
Due: cd admin-panel && npm run lint:fix

v0.33.1
  package.json
Due: prettier --write

fix: skip unsupported sort direction
  admin-panel/dist/index.html
  admin-panel/src/components/fields/FieldBooleanExpressionEditor.vue
  src/services/Utils.js
Due: cd admin-panel && npm run lint:fix

fix: skip unsupported sort direction
  src/services/Utils.js
Due: none

Path conditions:
  eslint --fix: any of: src/**/*gs.js
  cd admin-panel && npm run lint:fix: any of: admin-panel/**
  prettier --write: any of: *.{json,md}
