Repository enyosolutions/axel-core: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, cd axel-manager && npm run lint:fix, prettier --write

.lintstagedrc.json:

{
  "src/*.js": "eslint --fix",
  "{axel-manager}/*": "cd axel-manager && npm run lint:fix",
  "*.{json,md}": "prettier --write"
}

v0.17.0
  package.json
Due: prettier --write

fix: schema validation
  src/models/schema/AxelModelConfig.js
  test/sandbox/README.md
Due: prettier --write

v0.17.1
  package.json
Due: prettier --write

v0.17.2
  package.json
Due: prettier --write

feat: global hooks
  src/models.js
  src/services/ControllerUtils.js
Due: eslint --fix

v0.17.3
  package.json
Due: prettier --write

feat: route endpoint
  src/Server.js
  src/models.js
  src/router.js
  src/services/ControllerUtils.js
Due: eslint --fix

v0.17.4
  package.json
Due: prettier --write

feat: plugin registration
  src/Server.js
  src/models.js
Due: eslint --fix

fix: linting of code
  .eslintrc.js
  .husky/pre-commit
  package.json
  src/Server.js
  src/services/ControllerUtils.js
  src/services/SchemaValidator.js
  src/services/Utils.js
  src/services/logger.js
  yarn.lock
Due: eslint --fix, prettier --write

fix: linting
  .github/workflows/node.js.yml
  .husky/pre-commit
Due: none

feat: pass request to default controllers
  .babelrc
  src/controllers/CrudSqlController.js
  src/router.js
  src/services/Utils.js
  yarn.lock
Due: eslint --fix

feat: pass request to default controllers
  src/services/Utils.js
Due: none

v0.18.0
  package.json
Due: prettier --write

fix: useless console.log
  src/controllers/CrudSqlController.js
Due: none

v0.18.1
  package.json
Due: prettier --write

v0.19.0
  package.json
Due: prettier --write

feat: plugin model registration - wip
  package-lock.json
  src/Server.js
  src/models.js
Due: eslint --fix, prettier --write

fix: make plugin configuration file an object
  src/Server.js
  src/models.js
Due: eslint --fix

feat: sql model loading
  .eslintrc.js
  src/Server.js
  src/models.js
Due: eslint --fix

feat: route loading
  src/Server.js
  src/axel.js
Due: eslint --fix

feat: hooks ont models config
  src/controllers/AxelAdminController.js
  src/controllers/CrudSqlController.js
  src/models.js
  src/services/AxelAdmin.js
  src/services/SqlDB.js
Due: eslint --fix

fix: axel data
  src/services/AxelAdmin.js
Due: none

feat: saving plugin details into the database
  .eslintrc.js
  axel-manager/src/components/fields/FieldLayoutEditor.vue
  axel-manager/src/store/index.js
  package.json
  src/Server.js
  src/axel.js
  src/controllers/AxelModelConfigController.js
  src/controllers/CrudSqlController.js
  src/controllers/UserSqlController.js
  src/index.js
  src/models.js
  src/models/sequelize/AxelPlugin.js
  src/router.js
  src/services/AxelPlugin.js
  src/services/SchemaValidator.js
  test/api/axel.test.js
  test/sandbox/src/api/controllers/core/UserController.js
  test/sandbox/src/api/services/Statistics.js
  yarn.lock
Due: eslint --fix, prettier --write

fix: renamed the export and import methods
  .eslintrc.js
  src/controllers/CrudSqlController.js
  src/router.js
  test/controllers/CrudSqlController.test.js
Due: eslint --fix

fix: rename axelAdmin to a better name
  src/Server.js
  src/axel.js
  src/controllers/AxelAdminController.js
  src/controllers/AxelModelConfigController.js
  src/controllers/CrudSqlController.js
  src/index.js
  src/models/sequelize/AxelPlugin.js
  src/services/AxelAdmin.js
  src/services/AxelManager.js
  src/services/AxelPlugin.js
  src/services/ws/wsModel.js
Due: eslint --fix

feat: renamed file
  src/services/AxelModelsService.js
Due: none

v0.20.0
  package.json
Due: prettier --write

fix: allow loading models without loading hooks
  package.json
  src/models.js
  test/sandbox/resources/sequelize/models/index.js
Due: eslint --fix, prettier --write

v0.21.0
  package.json
Due: prettier --write

v0.23.0
  package.json
Due: prettier --write

fix: proper enabling of plugins
  src/router.js
Due: eslint --fix

v0.23.1
  package.json
Due: prettier --write

fix: proper axelUser MOdel loading
  src/services/AxelManager.js
Due: none

v0.23.2
  package.json
Due: prettier --write

fix: issue with auth
  src/services/AxelManager.js
Due: none

v0.23.3
  package.json
Due: prettier --write
